# History files
.Rhistory


# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata
..Rcheck
rglobi.Rcheck
#vignette files besides source
vignette/*.html
vignette/*.md
